/**
 * Profile styles inspired by Dribble shots
 * User Profile Widget: https://dribbble.com/shots/1790784-User-Profile-Widget
 * Browse Profiles: https://dribbble.com/shots/2622997-Browse-profiles
 */
.Users {
  grid-area: users;
  position: relative;
}

@media(max-width: 960px) {
  .Users {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media(min-width: 961px) {
  .Users {
    margin-left: 4em;
  }
}

.User-list {
  display: grid;
  font-size: .875em;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media(min-width: 641px) and (max-width: 768px) {
  .User-list {
    grid-template-columns: repeat(3, 30%);
  }
}

@media(min-width: 769px) and (max-width: 960px) {
  .User-list {
    grid-template-columns: repeat(4, 22%);
  }
}

@media(min-width: 1041px) {
  .User-list {
    grid-template-columns: repeat(3, 30%);
  }
}

@media(min-width: 1261px) {
  .User-list {
    grid-template-columns: repeat(4, 22%);
  }
}

.User {
  border: .0625em solid rgba(0, 0, 0, .1);
  border-radius: .3em;
  display: flex;
  /*
    16% seems to be a magic number.
    Using a percentage scales with the variable gap size
  */
  margin-bottom: 16%;
}

.User:hover,
.User:focus {
  background: linear-gradient(135deg, transparent 0%, rgba(171, 220, 255, .55) 180%);
  border-color: rgba(83, 103, 117, .1);
}

.User-link {
  align-items: center;
  color: rgb(3, 150, 255);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.25em;
  font-weight: 700;
  padding: 1em .5em;
  text-decoration: none;
}

.User-link:hover,
.User-link:focus {
  text-decoration: underline;
}

.User-avatar {
  border-radius: 50em;
  display: block;
  height: 85px;
  margin-bottom: 1em;
  width: 85px;
}

.User-name {
  hyphens: auto;
  margin: 0;
  overflow-wrap: break-word;
  text-align: center;
  word-wrap: break-word;
}
