/**
 * Profile styles inspired by Dribble shots
 * User Profile Widget: https://dribbble.com/shots/1790784-User-Profile-Widget
 * Browse Profiles: https://dribbble.com/shots/2622997-Browse-profiles
 */
.User-list {
  align-items: flex-start;
  display: grid;
  font-size: .875em;
  grid-gap: 1.75em;
  grid-template-columns: repeat(2, calc(50% - (1.75em / 2)));
  height: 100%;
  overflow-y: auto;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media(min-width: 641px) and (max-width: 768px) {
  .User-list {
    grid-template-columns: repeat(3, calc(32% - (1.75em / 2)));
  }
}

@media(min-width: 769px) and (max-width: 960px) {
  .User-list {
    grid-template-columns: repeat(4, calc(23% - (1.75em / 3)));
  }
}

@media(min-width: 1041px) {
  .User-list {
    grid-template-columns: repeat(3, calc(32% - (1.75em / 2)));
  }
}

@media(min-width: 1261px) {
  .User-list {
    grid-template-columns: repeat(4, calc(25% - 1.75em));
  }
}

.User {
  border: .0625em solid rgba(0, 0, 0, .1);
  border-radius: .3em;
  display: flex;
}

.User:hover,
.User:focus {
  background: linear-gradient(135deg, transparent 0%, rgba(171, 220, 255, .55) 180%);
  border-color: rgba(83, 103, 117, .1);
}

.User-link {
  align-items: center;
  color: rgb(3, 150, 255);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.25em;
  font-weight: 700;
  padding: 1em .5em;
  text-decoration: none;
}

.User-link:hover,
.User-link:focus {
  text-decoration: underline;
}

.User-avatar {
  border-radius: 50em;
  display: block;
  height: 85px;
  margin-bottom: 1em;
  width: 85px;
}

.User-name {
  hyphens: auto;
  margin: 0;
  overflow-wrap: break-word;
  text-align: center;
  word-wrap: break-word;
}
