/**
 * Profile styles inspired by Dribble shots
 * User Profile Widget: https://dribbble.com/shots/1790784-User-Profile-Widget
 * Browse Profiles: https://dribbble.com/shots/2622997-Browse-profiles
 */
.Users {
  margin-left: 4em;
  position: relative;
}

.User-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.User {
  align-items: center;
  border-radius: .3em;
  display: flex;
  flex: 0 1 25%;
  flex-direction: column;
  margin-bottom: 3em;
  padding: 1em 2em;
}

.User:hover,
.User:focus {
  background: linear-gradient(135deg, transparent 0%, rgba(171, 220, 255, .55) 180%);
}

.User-avatar {
  border-radius: 50em;
  display: block;
  height: 85px;
  margin-bottom: 1em;
  width: 85px;
}

.User-name {
  margin: 0;
}
