.Panel {
  position: relative;
}

@media(max-width: 960px) {
  .Panel {
    grid-column: span 2;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
  }
}

@media(min-width: 961px) {
  .Panel {
    margin-left: 2em;
  }

  .Panel + .Panel {
    margin-left: 0;
    margin-right: 2em;
  }
}

.Panel-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.Panel-title {
  margin: 0;
}
