.App {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  position: relative;
}

@media(min-width: 961px) {
  .App {
    grid-gap: 2em;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2em;
  }
}
