.Search {
  align-items: center;
  background-image: linear-gradient(135deg, rgb(171, 220, 255) 0%, rgba(3, 150, 255, .85) 100%);
  display: flex;
  justify-content: center;
  padding: 1em;
}

@media(min-width: 961px) {
  .Search {
    grid-area: search;
  }
}

.Input-group {
  border: 0.125em solid #0396ff;
  border-radius: 50em;
  box-shadow: 0 0 0 .25em rgba(255, 255, 255, 1);
  display: flex;
  width: 100%;
}

@media(min-width: 961px) {
  .Input-group {
    width: 50%;
  }
}

.Input-field {
  border-radius: inherit;
  flex-grow: 1;
  margin: 0;
}

.Input,
.Input-button {
  border: 0;
  padding: .5em 1em;
  font-size: inherit;
}

.Input {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
  width: 100%;
}

.Input-button {
  background-color: #0396ff;
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
  color: #fff;
  cursor: pointer;
}
