.Repos {
  background-color: rgba(255, 255, 255, .15);
  margin-right: 4em;
  position: relative;
}

.Repos-list {
  font-size: .875em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Repo {
  border-radius: .3em;
  border: .0625em solid rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  position: relative;
}

.Repo:not(:last-child) {
  margin-bottom: 1.75em;
}

.Repo:hover,
.Repo:focus {
  background: linear-gradient(135deg, transparent 15%, rgba(171, 220, 255, .55) 220%);
  border-color: rgba(83, 103, 117, .1);
}

.Repo-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
}

.Repo-title {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0;
}

.Repo-stats {
  display: flex;
}

.Repo-stat {
  align-items: center;
  display: flex;
  margin: 0;
}

.Repo-stat:not(:last-child) {
  margin-right: 1em;
}

.Repo-stat-icon {
  font-size: inherit;
  margin-right: .25em;
}

.Repo-stat-value {
  font-size: .875em;
}

.Repo-languages {
  border-radius: .3em;
  font-size: .875em;
  padding: .25em;
}
